{% extends "main_template.html" %}
{% load static %}
{% block head %}
<script src="{%static '/scripts/control_script.js' %}"></script>
{% endblock %}

{% block content %}

<div class="list-group" id="histo" style="position: relative; height: 94vh; width: 100%; overflow-y: scroll;">
    {% for sms in smss reversed %}
    <a class="list-group-item list-group-item-action flex-column align-items-start text-white history_color" style="background-color:#8b9dc3;" id="{{ histo.id_str }}">
        <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1">{{sms.content}}</h5>
            {% if not sms.approved %}
                <div class="btn btn-sm btn-danger history_btn" id="auth{{sms.id}}" onclick="authorize_sms({{ sms.id }})">Authorize</div>
            {% else %}
                <div class="btn btn-sm btn-success history_btn disabled">Authorized</div>
            {% endif%}
        </div>
    <p class="mb-1">{{sms.number}}</p>
    <small>{{sms.date_time}}</small>
    </a>

{% endfor %}
</div>
{% endblock %}